<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org" 
	  layout:decorate="~{layout}"
	  lang="en">
<body>
    <!-- Blog Area Start -->
    <section layout:fragment="content" class="blog-area section_padding_100 mt-100">
        <div class="container">
            <div class="row justify-content-center">
                <!-- Single Blog Area -->
                <div class="col-10">
                    <div class="single-blog-area text-center mb-100 wow fadeInUpBig" data-wow-delay="100ms" data-wow-duration="1s">
                        <div class="blog-thumbnail mb-100">
                            <img src="/img/playlistimg111.JPG" alt="">
                        </div>
                        <div class="blog-content">
                            <span></span>
                            <h2>MY LOVE IS ALL YOURS</h2>
                            <a href="#" class="post-date">3월첫째주 추천 재생목록</a>
                            <a href="#" class="post-author">By LTM</a>
                            <p>3월 첫째주 LTM에서 추천해드리는 playlist는 누구나 한개쯤은 가지고 있는 사랑과 관련된 이야기들을 담은 MY LOVE IS ALL YOURS<br>
                            추천 재생목록과 다양한 playlist 컨텐츠가 궁금하다면 PLAYLIST 페이지를 방문하세요.
                            </p>
                            <a th:href="@{/playlist/list}" class="btn studio-btn"><img src="/img/logo-icon.png" alt="">PLAYLIST페이지로 이동</a>
                        </div>
                    </div>
                </div>
                <!-- Single Blog Area -->
                <div class="col-10">
                    <div class="single-blog-area text-center mb-100 wow fadeInUpBig" data-wow-delay="100ms" data-wow-duration="1s">
                        <div class="blog-thumbnail mb-100">
                            <img src="/img/playlistimg3.jpg" alt="">
                        </div>
                        <div class="blog-content">
                            <span></span>
                            <h2>PLAYLIST COMMUNITY</h2>
                            <a href="#" class="post-date">플레이리스트 커뮤니티</a>
                            <a href="#" class="post-author">for u</a>
                            <p>내 재생목록과 다른 사람들의 재생목록 뿐만 아니라  다양한 음악 이야기들을 자유롭게 이야기할수 있는 공간입니다.<br>
                                다양한 정보를 공유하고 자유롭게 이야기를 나누시길 원하신다면 COMMUNITY페이지를 방문하세요.

                            </p>
                            <a th:href="@{/cboard/list}" class="btn studio-btn"><img src="/img/logo-icon.png" alt="">COMMUNITY페이지로 이동</a>
                        </div>
                    </div>
                </div>
                <!-- Single Blog Area -->
                <div class="col-10">
                    <div class="single-blog-area text-center mb-100 wow fadeInUpBig" data-wow-delay="100ms" data-wow-duration="1s">
                        <div class="blog-thumbnail mb-100">
                            <img src="/img/222.jpg" alt="">
                        </div>
                        <div class="blog-content">
                            <span></span>
                            <h2>Water Bomb Festival</h2>
                            <a href="#" class="post-date">JUN 30, 2023 ~ JUL 02, 2023</a>
                            <a href="#" class="post-author">Seoul</a>
                            <p>Water Bomb Festival은 2015년 8월에 시작되어 현재까지 진행되고 있는 국내 최대규모의 음악 및 물 테마의 페스티벌입니다.<br>
                            	K-POP, 힙합, EDM 음악을 중심으로 한 퍼포먼스와 물을 사용한 대규모 프로덕션이 주가 되는 익사이팅한 축제를 즐겨보세요.<br>
                                Water Bomb Festival 외에도 다양한 2023년 음악축제에 대한 정보가 궁금하시다면 이벤트 페이지를 방문해주세요.
                            </p>
                            <a th:href="@{/event}" class="btn studio-btn"><img src="/img/logo-icon.png" alt="">EVENT페이지로 이동</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Area End -->



	<th:block layout:fragment="script">
    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="/js/main/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="/js/main/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/js/main/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="/js/main/plugins.js"></script>
    <!-- Active js -->
    <script src="/js/main/active.js"></script>
	</th:block>
</body>

</html>